/* Estilos para el formulario */
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario */
    padding: 20px;
    background-color: white;
  }

  .cargarboton {
    background-color: grey;
    color: black
  }

  .disabled-estado {
    background-color: red;
    color: white; /* Cambia el color del texto a blanco o el que desees */
  }

  .fondo{
      background-color: darkslategrey;
      background-size: cover;
      margin: 0;
      padding: 0;
      height: 680px
  }

  .preform{
    height: 40px;
  }
  
  /* Estilos para los campos de entrada y etiquetas */
  label {
    color: black;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
  }

  select {
    width: 100%;
    color: black;
    margin-bottom: 10px;
  }
  
  
  /* Estilos para el botón */
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Cambia el color del botón al pasar el mouse */
  button:hover {
    background-color: #0056b3;
  }