
.fondo {
    background-color: darkslategrey;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
    height: 680px;
    display: flex;
    justify-content: center;
}

.textop{
  font-style: oblique;
  color: black;
  font-weight: bold;
  background-color:  rgb(160, 180, 180);
  width: 280px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.botonback{
  display: flex;
  justify-content: center;
}

.contebandera {
  display: flex;
  justify-content: center;
}

.dato{
  display: flex;
  justify-content: center;
}

.predatos {
  background-color: darkslategrey;
  height: 40px;
}

.contenedor {
  background-color: white;
  width: 400px;
  height: 680px;
}


  