

/* Estilos para el contenedor del select */
.customselect {
    width: 200px; /* Ancho personalizado */
    padding: 10px; /* Espacio interno */
    border: 1px solid #ccc; /* Borde del select */
    border-radius: 5px; /* Borde redondeado */
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Color de texto */
    font-size: 16px; /* Tamaño de fuente */
    outline: none; /* Quita el borde cuando se enfoca */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  /* Estilos para las opciones */
  .customselect option {
    background-color: #fff; /* Fondo blanco para las opciones */
    color: #333; /* Color de texto de las opciones */
    font-size: 16px; /* Tamaño de fuente de las opciones */
  }
  
  /* Estilos para el botón cuando se pasa el cursor por encima */
  .customselect:hover {
    border-color: #007BFF; /* Cambia el color del borde al pasar el cursor */
  }

  



  /* Estilos para el contenedor del select */
.select-container {
  position: relative;
  margin-bottom: 20px;
  /* Asegúrate de que hay suficiente espacio entre contenedores */
}

/* Estilos para la etiqueta label */
.select-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px; /* Espacio entre la etiqueta y el select */
  color: #333; /* Color del texto de la etiqueta */
  font-size: 16px; /* Tamaño de fuente de la etiqueta */
}

/* Estilos para el contenedor del select */
.select-container select {
  width: 200px; /* Ancho personalizado */
  padding: 10px; /* Espacio interno */
  border: 1px solid #ccc; /* Borde del select */
  border-radius: 5px; /* Borde redondeado */
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Color de texto */
  font-size: 16px; /* Tamaño de fuente */
  outline: none; /* Quita el borde cuando se enfoca */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilos para las opciones */
.select-container select option {
  background-color: #fff; /* Fondo blanco para las opciones */
  color: #333; /* Color de texto de las opciones */
  font-size: 16px; /* Tamaño de fuente de las opciones */
}

/* Estilos para el botón cuando se pasa el cursor por encima */
.select-container select:hover {
  border-color: #007BFF; /* Cambia el color del borde al pasar el cursor */
} 













