.landingtext {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}

/* Estilos para el botón de ingreso */
.landingbutton {
  padding: 10px 20px;
  background-color: #4CAF50; /* Verde */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Cambia el color del botón al pasar el mouse */
.landingbutton:hover {
  background-color: #45a100;
}

.landingcontainer {
  background-image: url('https://plustatic.com/3810/conversions/paises-mas-grandes-del-mundo-default.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingcontainer::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

